<% @sites.each do |site| %>
  <div class="container" id="summarycontainer">
    <div class="row " id="summarybackdrop">
      <div class="col-2 desktop">
        <%= image_tag(site.image_url, class:"site-img") %>

      </div>
      <div class="col-8 desktop">
        <h1><%=site.name%></h1>
        <hr>
        <h5><%=site.description%></h5>
        <p> Date Produced: <%=site.date%> </p>
        <p><a href= <%=site.url%> > Site Url:<%=site.url%></a></p>
      </div>
      <div class="col-12 mobile">
        <h2><%=site.name%></h2>
        <hr>
        <h5><%=site.description%></h5>
        <p> Date Produced: <%=site.date%></p>
        <p><a href= <%=site.url%> > Site Url:<%=site.url%></a></p>
      </div>
    </div>
</div>

<%end%>
