<h1 class="showtitle"><%=@site.name%></h1>
<hr>
<div class="row">
  <div class="col-6 showlinks">
    <a class="showlinks" href='<%=@site.url%>'><i class="fas fa-eye showlinks"></i>View Site</a>
  </div>
  <div class="col-6 showlinks">
    <a class="showlinks" href='<%=@site.github%>'><i class="fab fa-github-square showlinks" ></i>Source Code</a>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-3 col-12 conciseinfo">
    <p style="text-align:center;"><%=image_tag(@site.image_url, width: "80%")%></p>
    <h4><strong>Date Developed</strong> <br><%=@site.date%></h4>
    <h4><strong>Development Time</strong><br><%=@site.development_time%></h4>
  </div>
  <div class="col-sm-9 col-12">
    <h2>Description</h2>
    <hr>
    <p><%=@site.description%></p>
    <h2>The Goal</h2>
    <hr>
    <p><%=@site.goal%></p>
    <h2>Challenges</h2>
    <hr>
    <p><%=@site.challenges%></p>
    <h2>The final result</h2>
    <hr>
    <p><%=@site.result%></p>
  </div>
</div>
<h2 style="padding-top:10px;">Screenshots</h2>
<hr>
<%= image_tag(@site.screenshot, class: "screenshot", width: "100%")%>
